@font-face {
    font-family: 'betterday';
    src: url(../font/Betterday.otf);
}
@font-face {
    font-family: 'big-deal';
    src: url(../font/aBigDeal.ttf);
}
@font-face {
    font-family: 'creamy-sunset';
    src: url(../font/Creamy\ Sunset.ttf);
}
@font-face {
    font-family: 'simply-diet';
    src: url(../font/Simply\ Diet.ttf);
}

.navbar-nav {
    margin-left: 500px;
}

.logout {
    background-color: greenyellow;
    padding: 10px;
}

.table{
    margin-top: 25px;
    background-color: silver;
}

body {
    background-color: darkblue ;
}

.cari {
    margin-top: 50px;
    margin-left: 500px;
}

.tambah {
    background-color: yellow;
}

.hapus {
    background-color: red;
}

.ubah{
    background-color: aqua;
}

.navbar-brand {
    font-family: big-deal;
}

.nav-item {
    font-family: simply-diet;
    font-size: 20px;
}