body {
    background-color: darkblue;
}

h3,
.detail {
    margin-top: 50px;
    text-align: center;
    list-style: none; 
}

img {
    height: 350px;
}

.container{
    background-color: silver;
    height: 600px;
    width: 600px;
    padding-top: 10px;
}

.navbar-nav {
    margin-left: 500px;
}

.login {
    background-color: red;
    padding: 10px;
}

h3 {
    color: white;
}