.login {
    margin:250px 520px;
    background-color: aqua;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}
ul {
    list-style: none;
}
body {
    background-color: darkblue;
}